html {
  font-family: sans-serif;
}

body {
  margin: 0;
}

header {
  background: purple;
  height: 100px;
}

h1 {
  text-align: center;
  color: white;
  line-height: 100px;
  margin: 0;
}

img.thumbnail {
	max-width: 300px;
	max-height: auto;
}

/* Add your flexbox CSS below here */
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card:nth-of-type(1) {
  flex: 1 1 0%;
}

.card:nth-of-type(2), .card:nth-of-type(3) {
  flex: 2 1 0%;
}

/* navigation bar */
.grid-container {
  display: grid;
  grid-gap: 10px;
  grid-auto-rows: 100px;
  grid-template-areas: "home products story . . . . . cart";
  padding: 10px;
  align-items: center;
}

.nav-home {
  grid-area: home;
}
a.nav {
  justify-self: left;
}
a.nav:hover {
  background-color: #FFFF00;
}

.nav-products {
  grid-area: products;
}

.nav-story {
  grid-area: story;
}

.nav-cart {
  grid-area: cart;
  justify-self: end;
}