a {
    text-decoration: underline;
    transition: color .2s ease-in-out;
}

.btn {
    border-radius: 0;
    font-size: .875em;
    letter-spacing: .05em;
    padding: .5em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
}

.logo {
    text-decoration: none;
}